/*####################################################################################################*/
/* HEADER */
/*####################################################################################################*/
.header-nav ul {
    list-style: none;
    display: flex; /* Arrange items in a row */
    align-items: center; /* Center items vertically */
}

.header-nav li {
    margin: 0 1vw;
}

.header-nav a {
    color: whitesmoke;
    text-decoration: none;
    font-weight: bold;
}

.header-nav a:hover {
    color: #FF6F61;
}

.home-link {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: whitesmoke;
    font-weight: bold;
}

/* .home-logo {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    background-color: #FF6F61;
    color: whitesmoke;
    font-size: 1.2rem;
    font-weight: bold;
    margin-right: 1vw;
} */

.home-logo-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2.8rem; /* Slightly larger than the image */
    height: 2.8rem;
    border-radius: 50%; /* Make the wrapper circular */
    background-color: #FF6F61; /* Contour color */
    margin-right: 1vw;
}

.home-logo-image {
    width: 2.5rem; /* Image size */
    height: 2.5rem;
    border-radius: 50%; /* Make the image circular */
    object-fit: cover; /* Ensure the image is cropped correctly */
}

.home-link:hover .home-logo-wrapper {
    background-color: #3F4C5C; /* Optional: change background color */
}

.home-link:hover .home-logo {
    color: #FF6F61; /* Change text color on hover */
    background-color: #3F4C5C; /* Optional: change background color */
}

.home-name {
    font-size: 1.1rem;
}