#research-page .container {
    padding-left: 2vw;
    padding-right: 2vw;
    background-color: #2C333C; /* Adjust to fit your website theme */
    width: 90vw;
    margin: 0 auto;
}

#research-page .grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* Always 4 columns */
    grid-gap: 1rem;
    max-height: 25vw; /* Limit the height of the grid */
    overflow-y: auto; /* Vertical scrollbar */
    overflow-x: hidden; /* Prevent horizontal scroll */
    padding: 1rem;
    background: #2C333C;
    border: 1px solid #2C333C;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

#research-page .grid::-webkit-scrollbar {
    height: 0.6vw; /* Set the height of the horizontal scrollbar */
}

#research-page .grid::-webkit-scrollbar-thumb {
    background-color: #FF6F61; /* Scrollbar thumb color */
    border-radius: 1vw; /* Rounded edges */
}

#research-page .grid::-webkit-scrollbar-track {
    background-color: #3A424C; /* Scrollbar track color */
    border-radius: 1vw; /* Rounded corners for the track */
}

/* Wrapper for title and card to ensure they stay together */
#research-page .video-card-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Style for the video title above the card */
#research-page .video-title {
    padding: 0rem 0.5rem;
    text-align: center;
    font-size: 1rem;
    font-family: 'Poppins', sans-serif;
    color: whitesmoke;
    margin-bottom: 0rem; /* Space between title and card */
}

/* Style for the card */
#research-page .card {
    position: relative;
    border: 1px solid #FF6F61;
    border-radius: 8px;
    overflow: hidden;
    background: #2C333C;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    display: block; /* Ensure the card is a block element */
    /* max-width: 20vw;
    max-height: 20vw; */
    /* width: 20vw;
    height: 20vw; */
    width: 20vw;
    height: 20vw;
}

#research-page .card:hover {
    box-shadow: 0 1vw 2vw rgba(0, 0, 0, 0.3); /* Slightly larger shadow */
    background-color: #3A424C;
}

/* #research-page .card video { */
    /* display: block; */
    /* width: 100%; */
    /* height: auto; */
    /* max-width: 100%; */
    /* object-fit: cover; */
    /* Keep the video visible */
    /* max-width: 20vw;
    max-height: 20vw; */
/* } */

#research-page .grid .card video {
    width: 100%;
    height: auto;
    /* object-fit: cover; */
}

/* Style for the info button */
#research-page .info-button {
    position: absolute;
    top: 0.5rem;
    left: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

#research-page .info-button input[type="checkbox"] {
    display: none; /* Hide the checkbox */
}

#research-page .info-button span {
    background-color: #20252A;
    color: whitesmoke;
    font-size: 1rem;
    font-weight: bold;
    width: 1.5rem;
    height: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    border: 2px solid whitesmoke; /* Add a white border */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#research-page .info-button span:hover {
    background-color: #F3A03B;
    border: 2px solid #FF6F61;
}

/* Style for the info window */
#research-page .info-window {
    display: none; /* Hidden by default */
    position: absolute;
    top: 0rem; /* Adjust position */
    left: 2rem;
    width: 16rem;
    padding: 0.5rem;
    background-color: #3A424C;
    color: whitesmoke;
    font-size: 0.9rem;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 10;
    border: 2px solid #F3A03B;
    text-align: left;
}

/* Show the info window when checkbox is checked */
#research-page .info-button input[type="checkbox"]:checked ~ .info-window {
    display: block;
}

#research-page .info-button input[type="checkbox"]:checked ~ span {
    background-color: #F3A03B;
    border: 2px solid #FF6F61;
}



